@import url(https://lsong.org/css/stylesheet.css);

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

#controls {
  margin: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

spectrum-analyzer,
piano-keyboard {
  width: 800px;
  margin-bottom: 20px;
}